<div id="page-sidebar" class="scrollable-content" tabindex="5003" style="overflow: hidden; outline: none; height: 613px;">

    <div id="sidebar-menu" class="active">
        <ul>
            <li>
                <a href="/doctors" title="Forms">
                    <i class="glyph-icon icon-dashboard"></i>
                    Dashbord
                </a>
                
            </li>
           
            <li>
                <a href="/addPart">
                    <i class="glyph-icon icon-plus-sign-alt"></i>
                     Add New Department
                </a>           
            </li>  
            <li>
                <a href="/scheduleTime">
                    <i class="glyph-icon icon-time"></i>
                     Schedule Time
                </a>           
            </li>                       
            <li>
                <a href="/comment">
                    <i class="glyph-icon icon-comment"></i>
                    Comments
                </a>           
            </li>
       </ul>
        <div class="divider mrg5T mobile-hidden"></div>
        <ul>
            <li>
                <a href="/adminReserve">
                    <i class="glyph-icon icon-user"></i>
                    Users
                </a>           
            </li>
            
        </ul>
    </div>

</div>